html {
  box-sizing: border-box;

  /* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;

  /* Correct the line height in all browsers. */
  line-height: 1.15;

  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  border-color: inherit;
  border-width: 1px;
}

*:before,
*:after {
  box-sizing: inherit;
}

pre,
code,
code *,
textarea,
input[type],
[contenteditable] {
  user-select: text;
}

body,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font: inherit;
}

base,
basefont,
datalist,
head,
meta,
script,
style,
title,
noembed,
param,
template {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*IMPORTANT: This removes the focus outline for most browsers. Be aware this is a backwards accessibilty step! Mozilla (i.e. Firefox) also adds a dotted outline around a tags and buttons when they receive tab focus which I haven't found an unhacky way of removing.*/
a:focus,
button:focus {
  outline: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

select {
  appearance: none;
  background: none;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
}

input,
textarea,
fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  color: inherit;
  margin: 0;
  border-radius: 0;
  /*inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that*/
  min-width: 0;
  font: inherit;
}

/* For IE, we want to remove the default cross ('X') that appears in input fields when a user starts typing - Make sure you add your own! */
input::-ms-clear {
  display: none;
}

/*This switches the default outline off when an input receives focus (really important for users tabbing through with a keyboard) so ensure you put something decent in for your input focus instead!!*/
textarea:focus,
input:focus select:focus {
  outline: none;
}

*:focus {
  outline: none;
}

input[type='number'] {
  /*Mozilla shows the spinner UI on number inputs unless we use this:*/
  -moz-appearance: textfield;
}

/*Removes the little spinner controls for number type inputs (WebKit browsers/forks only)*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

iframe {
  border: none;
}

/*SVG defaults to display: inline which I dislike. Inline-block or inline-flex will render white space on SVG elements in HTML (where you would have defs and symbols) if the container isn't a flex box or the font-size set to 0 to crush the whitespace */
svg {
  display: block;
}

img {
  /*Make images behave responsively. Here they will scale up to 100% of their natural size*/
  max-width: 100%;
  /*Make images display as a block (UA default is usually inline)*/
  display: block;
}

/*Removes the default focusring that Mozilla places on select items. From: http://stackoverflow.com/a/18853002/1147859
  Ensure you set `#000` to the colour you want your text to appear */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Switching on box-sizing: border-box by default; toggle this off if you want more granular control */
body {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}
