/**
 * Box sizing rules
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  * Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
  position: relative;
  z-index: 0;
}

/**
  *Switching on box-sizing: border-box by default; toggle this off if you want more granular control
  */
body {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  font-size: 15px;
}

html {
  /* Nicer looking fonts for OS X and iOS */
  -webkit-font-smoothing: antialiased;

  /* Correct the line height in all browsers. */
  line-height: 1.5;

  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  border-color: inherit;
  border-width: 1px;
}

body,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font: inherit;
}

/**
  * Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

base,
basefont,
datalist,
head,
meta,
script,
style,
title,
noembed,
param,
template {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
  * IMPORTANT: This removes the focus outline for most browsers.
  * Be aware this is a backwards accessibilty step! Mozilla (i.e. Firefox)
  * also adds a dotted outline around a tags and buttons when they receive
  * tab focus which I haven't found an unhacky way of removing.
  */
a:focus,
button:focus {
  outline: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

select {
  appearance: none;
  background: none;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
}

input,
textarea,
fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  color: inherit;
  margin: 0;
  border-radius: 0;
  /* inputs and fieldset defaults to having a min-width equal to its content in Chrome and Firefox (https://code.google.com/p/chromium/issues/detail?id=560762), we may not want that*/
  min-width: 0;
  font: inherit;
}

/**
  * For IE, we want to remove the default cross ('X') that appears in
  * input fields when a user starts typing - Make sure you add your own!
  */
input::-ms-clear {
  display: none;
}

/**
  * This switches the default outline off when an input receives focus
  * (really important for users tabbing through with a keyboard) so ensure
  * you put something decent in for your input focus instead!!
  */
textarea:focus,
input:focus select:focus {
  outline: none;
}

*:focus {
  outline: none;
}

input[type='number'] {
  /* Mozilla shows the spinner UI on number inputs unless we use this: */
  -moz-appearance: textfield;
}

/**
  * Removes the little spinner controls for number type inputs (WebKit browsers/forks only).
  */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

iframe {
  border: none;
}

/**
  * Make elements behave responsively. Here they will scale up to 100% of their natural size.
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/**
  * Removes the default focusring that Mozilla places on select items. From: http://stackoverflow.com/a/18853002/1147859
  * Ensure you set `#000` to the colour you want your text to appear.
  */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/**
  * Remove all animations and transitions for people that prefer not to see them
  */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
