.mapboxgl-popup-content h3 {
  color: #000;
  font-weight: 800;
  font-size: 15px;
}

.mapboxgl-popup-content h4 {
  color: #6200ee;
  font-weight: 800;
  font-size: 15px;
}

.mapboxgl-popup-content {
  border-radius: 4px !important;
  padding-left: 18px;
  padding-right: 18px;
}

.mapboxgl-popup-tip {
  width: 0px;
  height: 0px;
  border: 0;
}
